In [11]:
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
from census import Census
from us import states
import os
# import ktn_acquire
from env import census_api_key

In [2]:
# ktn test
# ktn_acquire.get_profile_data('2023','test','10001')

In [3]:
# test with using ktn funcitno with ny zipcodes
'''
def get_nyc_demographics_by_zip(zip_code):
    # nyc zip codes
    nyc_zip_codes = ['10001', '10002', '10003', '10004', '10005', '10006', '10007', '10008', '10009', '10010', 
                     '10011', '10012', '10013', '10014', '10015', '10016', '10017', '10018', '10019', '10020', 
                     '10021', '10022', '10023', '10024', '10025', '10026', '10027', '10028', '10029', '10030', 
                     '10031', '10032', '10033', '10034', '10035', '10036', '10037', '10038', '10039', '10040', 
                     '10041', '10044', '10045', '10048', '10055', '10060', '10069', '10075', '10090', '10103', 
                     '10110', '10111', '10112', '10115', '10118', '10119', '10120', '10121', '10122', '10123', 
                     '10128', '10151', '10152', '10153', '10154', '10155', '10158', '10161', '10162', '10165', 
                     '10166', '10167', '10168', '10169', '10170', '10171', '10172', '10173', '10174', '10175', 
                     '10176', '10177', '10178', '10179', '10199', '10270', '10271', '10278', '10279', '10280', 
                     '10281', '10282', '10451', '10452', '10453', '10454', '10455', '10456', '10457', '10458', 
                     '10459', '10460', '10461', '10462', '10463', '10464', '10465', '10466', '10467', '10468', 
                     '10469', '10470', '10471', '10472', '10473', '10474', '10475', '10499', '11004', '11005', 
                     '11101', '11102', '11103', '11104', '11105', '11106', '11109', '11120', '11201', '11202', 
                     '11203', '11204', '11205', '11206', '11207', '11208', '11209', '11210', '11211', '11212', 
                     '11213', '11214', '11215', '11216', '11217', '11218', '11219', '11220', '11221', '11222', 
                     '11223', '11224', '11225', '11226', '11228', '11229', '11230', '11231', '11232', '11233', 
                     '11234', '11235', '11236', '11237', '11238', '11239', '11241', '11242', '11243', '11249', 
                     '11251', '11252', '11351', '11352', '11354', '11355', '11356', '11357', '11358', '11359', 
                     '11360', '11361', '11362', '11363', '11364', '11365', '11366', '11367', '11368', '11369', 
                     '11370', '11371', '11372', '11373', '11374', '11375', '11377', '11378', '11379', '11385', 
                     '11411', '11412', '11413', '11414', '11415', '11416', '11417', '11418', '11419', '11420', 
                     '11421', '11422', '11423', '11424', '11425', '11426', '11427', '11428', '11429', '11430', 
                     '11432', '11433', '11434', '11435', '11436', '11439', '11451', '11452', '11460', '11470', 
                     '11471', '11472', '11474', '11476', '11478', '11480', '11482', '11484', '11486', '11488', 
                     '11499', '11691', '11692', '11693', '11694', '11695', '11697']
    
    if zip_code not in nyc_zip_codes:
        return "The provided zip code is not in New York City."
    
    # fetch the demographic data for the provided zip code
    df = ktn_acquire.acquire_data(zip_code)
    
    return df
    
'''

'\ndef get_nyc_demographics_by_zip(zip_code):\n    # nyc zip codes\n    nyc_zip_codes = [\'10001\', \'10002\', \'10003\', \'10004\', \'10005\', \'10006\', \'10007\', \'10008\', \'10009\', \'10010\', \n                     \'10011\', \'10012\', \'10013\', \'10014\', \'10015\', \'10016\', \'10017\', \'10018\', \'10019\', \'10020\', \n                     \'10021\', \'10022\', \'10023\', \'10024\', \'10025\', \'10026\', \'10027\', \'10028\', \'10029\', \'10030\', \n                     \'10031\', \'10032\', \'10033\', \'10034\', \'10035\', \'10036\', \'10037\', \'10038\', \'10039\', \'10040\', \n                     \'10041\', \'10044\', \'10045\', \'10048\', \'10055\', \'10060\', \'10069\', \'10075\', \'10090\', \'10103\', \n                     \'10110\', \'10111\', \'10112\', \'10115\', \'10118\', \'10119\', \'10120\', \'10121\', \'10122\', \'10123\', \n                     \'10128\', \'10151\', \'10152\', \'10153\', \'10154\', \'10155\', \'10158\', \'10161\', \'10162\', \'10165\', \n                     \'10166\', \'10167\', \'10168\', \'10169\', \'10170\', \'10171\', \'10172\', \'10173\', \'10174\', \'10175\', \n                     \'10176\', \'10177\', \'10178\', \'10179\', \'10199\', \'10270\', \'10271\', \'10278\', \'10279\', \'10280\', \n                     \'10281\', \'10282\', \'10451\', \'10452\', \'10453\', \'10454\', \'10455\', \'10456\', \'10457\', \'10458\', \n                     \'10459\', \'10460\', \'10461\', \'10462\', \'10463\', \'10464\', \'10465\', \'10466\', \'10467\', \'10468\', \n                     \'10469\', \'10470\', \'10471\', \'10472\', \'10473\', \'10474\', \'10475\', \'10499\', \'11004\', \'11005\', \n                     \'11101\', \'11102\', \'11103\', \'11104\', \'11105\', \'11106\', \'11109\', \'11120\', \'11201\', \'11202\', \n                     \'11203\', \'11204\', \'11205\', \'11206\', \'11207\', \'11208\', \'11209\', \'11210\', \'11211\', \'11212\', \n                     \'11213\', \'11214\', \'11215\', \'11216\', \'11217\', \'11218\', \'11219\', \'11220\', \'11221\', \'11222\', \n                     \'11223\', \'11224\', \'11225\', \'11226\', \'11228\', \'11229\', \'11230\', \'11231\', \'11232\', \'11233\', \n                     \'11234\', \'11235\', \'11236\', \'11237\', \'11238\', \'11239\', \'11241\', \'11242\', \'11243\', \'11249\', \n                     \'11251\', \'11252\', \'11351\', \'11352\', \'11354\', \'11355\', \'11356\', \'11357\', \'11358\', \'11359\', \n                     \'11360\', \'11361\', \'11362\', \'11363\', \'11364\', \'11365\', \'11366\', \'11367\', \'11368\', \'11369\', \n                     \'11370\', \'11371\', \'11372\', \'11373\', \'11374\', \'11375\', \'11377\', \'11378\', \'11379\', \'11385\', \n                     \'11411\', \'11412\', \'11413\', \'11414\', \'11415\', \'11416\', \'11417\', \'11418\', \'11419\', \'11420\', \n                     \'11421\', \'11422\', \'11423\', \'11424\', \'11425\', \'11426\', \'11427\', \'11428\', \'11429\', \'11430\', \n                     \'11432\', \'11433\', \'11434\', \'11435\', \'11436\', \'11439\', \'11451\', \'11452\', \'11460\', \'11470\', \n                     \'11471\', \'11472\', \'11474\', \'11476\', \'11478\', \'11480\', \'11482\', \'11484\', \'11486\', \'11488\', \n                     \'11499\', \'11691\', \'11692\', \'11693\', \'11694\', \'11695\', \'11697\']\n    \n    if zip_code not in nyc_zip_codes:\n        return "The provided zip code is not in New York City."\n    \n    # fetch the demographic data for the provided zip code\n    df = ktn_acquire.acquire_data(zip_code)\n    \n    return df\n    \n'

In [4]:
# df = get_nyc_demographics_by_zip('10001')

In [6]:
 asc5_2021_dictionary = pd.read_html('https://api.census.gov/data/2021/acs/acs5/profile/variables.html')

In [7]:
asc5_2021_dictionary = asc5_2021_dictionary[0]

In [8]:
# This is the data dictionary for asc5 2021
asc5_2021_dictionary

,Name,Label,Concept,Required,Attributes,Limit,Predicate Type,Group,Unnamed: 8
0,AIANHH,Geography,NaN,not required,NaN,0,(not a predicate),NaN,NaN
1,AIHHTL,Geography,NaN,not required,NaN,0,(not a predicate),NaN,NaN
2,AIRES,Geography,NaN,not required,NaN,0,(not a predicate),NaN,NaN
3,ANRC,Geography,NaN,not required,NaN,0,(not a predicate),NaN,NaN
4,CBSA,Geography,NaN,not required,NaN,0,(not a predicate),NaN,NaN
...,...,...,...,...,...,...,...,...,...
1388,TTRACT,Geography,NaN,not required,NaN,0,(not a predicate),NaN,NaN
1389,UA,Geography,NaN,not required,NaN,0,(not a predicate),NaN,NaN
1390,ucgid,Uniform Census Geography Identifier clause,Census API Geography Specification,predicate-only,NaN,0,ucgid,NaN,NaN
1391,ZCTA,Geography,NaN,not required,NaN,0,(not a predicate),NaN,NaN
1392,1392 variables,1392 variables,1392 variables,1392 variables,1392 variables,1392 variables,1392 variables,1392 variables,1392 variables

In [10]:
Saved to csv
# asc5_2021_dictionary.to_csv('asc5_2021_variables.csv')

In [12]:
# population data for state
# just tests using the census library

c = Census(census_api_key)

# Example query to get population data for all states
census_data = c.acs5.get(('NAME', 'B01003_001E'), {'for': 'state:*'})

for data in census_data:
    print(data)

{'NAME': 'Alabama', 'B01003_001E': 4997675.0, 'state': '01'}
{'NAME': 'Alaska', 'B01003_001E': 735951.0, 'state': '02'}
{'NAME': 'Arizona', 'B01003_001E': 7079203.0, 'state': '04'}
{'NAME': 'Arkansas', 'B01003_001E': 3006309.0, 'state': '05'}
{'NAME': 'California', 'B01003_001E': 39455353.0, 'state': '06'}
{'NAME': 'Colorado', 'B01003_001E': 5723176.0, 'state': '08'}
{'NAME': 'Connecticut', 'B01003_001E': 3605330.0, 'state': '09'}
{'NAME': 'Delaware', 'B01003_001E': 981892.0, 'state': '10'}
{'NAME': 'District of Columbia', 'B01003_001E': 683154.0, 'state': '11'}
{'NAME': 'Florida', 'B01003_001E': 21339762.0, 'state': '12'}
{'NAME': 'Georgia', 'B01003_001E': 10625615.0, 'state': '13'}
{'NAME': 'Hawaii', 'B01003_001E': 1453498.0, 'state': '15'}
{'NAME': 'Idaho', 'B01003_001E': 1811617.0, 'state': '16'}
{'NAME': 'Illinois', 'B01003_001E': 12821813.0, 'state': '17'}
{'NAME': 'Indiana', 'B01003_001E': 6751340.0, 'state': '18'}
{'NAME': 'Iowa', 'B01003_001E': 3179090.0, 'state': '19'}
{'NAME': 'Kansas', 'B01003_001E': 2932099.0, 'state': '20'}
{'NAME': 'Kentucky', 'B01003_001E': 4494141.0, 'state': '21'}
{'NAME': 'Louisiana', 'B01003_001E': 4657305.0, 'state': '22'}
{'NAME': 'Maine', 'B01003_001E': 1357046.0, 'state': '23'}
{'NAME': 'Maryland', 'B01003_001E': 6148545.0, 'state': '24'}
{'NAME': 'Massachusetts', 'B01003_001E': 6991852.0, 'state': '25'}
{'NAME': 'Michigan', 'B01003_001E': 10062512.0, 'state': '26'}
{'NAME': 'Minnesota', 'B01003_001E': 5670472.0, 'state': '27'}
{'NAME': 'Mississippi', 'B01003_001E': 2967023.0, 'state': '28'}
{'NAME': 'Missouri', 'B01003_001E': 6141534.0, 'state': '29'}
{'NAME': 'Montana', 'B01003_001E': 1077978.0, 'state': '30'}
{'NAME': 'Nebraska', 'B01003_001E': 1951480.0, 'state': '31'}
{'NAME': 'Nevada', 'B01003_001E': 3059238.0, 'state': '32'}
{'NAME': 'New Hampshire', 'B01003_001E': 1372175.0, 'state': '33'}
{'NAME': 'New Jersey', 'B01003_001E': 9234024.0, 'state': '34'}
{'NAME': 'New Mexico', 'B01003_001E': 2109366.0, 'state': '35'}
{'NAME': 'New York', 'B01003_001E': 20114745.0, 'state': '36'}
{'NAME': 'North Carolina', 'B01003_001E': 10367022.0, 'state': '37'}
{'NAME': 'North Dakota', 'B01003_001E': 773344.0, 'state': '38'}
{'NAME': 'Ohio', 'B01003_001E': 11769923.0, 'state': '39'}
{'NAME': 'Oklahoma', 'B01003_001E': 3948136.0, 'state': '40'}
{'NAME': 'Oregon', 'B01003_001E': 4207177.0, 'state': '41'}
{'NAME': 'Pennsylvania', 'B01003_001E': 12970650.0, 'state': '42'}
{'NAME': 'Rhode Island', 'B01003_001E': 1091949.0, 'state': '44'}
{'NAME': 'South Carolina', 'B01003_001E': 5078903.0, 'state': '45'}
{'NAME': 'South Dakota', 'B01003_001E': 881785.0, 'state': '46'}
{'NAME': 'Tennessee', 'B01003_001E': 6859497.0, 'state': '47'}
{'NAME': 'Texas', 'B01003_001E': 28862581.0, 'state': '48'}
{'NAME': 'Utah', 'B01003_001E': 3231370.0, 'state': '49'}
{'NAME': 'Vermont', 'B01003_001E': 641637.0, 'state': '50'}
{'NAME': 'Virginia', 'B01003_001E': 8582479.0, 'state': '51'}
{'NAME': 'Washington', 'B01003_001E': 7617364.0, 'state': '53'}
{'NAME': 'West Virginia', 'B01003_001E': 1801049.0, 'state': '54'}
{'NAME': 'Wisconsin', 'B01003_001E': 5871661.0, 'state': '55'}
{'NAME': 'Wyoming', 'B01003_001E': 576641.0, 'state': '56'}
{'NAME': 'Puerto Rico', 'B01003_001E': 3311274.0, 'state': '72'}

In [13]:
# This is the population break down a pull by city for top 20 biggest cities
# Fetch the population data for all places (cities) in the 2019 ACS 5-year estimates
population_data = c.acs5.get(('NAME', 'B01003_001E'),
                             {'for': 'place:*', 'in': 'state:*'})

# Convert the population count to an integer (it is returned as a string) and sort the data
sorted_population_data = sorted(population_data, key=lambda x: int(x['B01003_001E']), reverse=True)

# Get the top 20 cities
top_twenty_cities = sorted_population_data[:20]

# Print the top 20 cities and their populations
for city in top_twenty_cities:
    print(city['NAME'], city['B01003_001E'])

New York city, New York 8736047.0
Los Angeles city, California 3902440.0
Chicago city, Illinois 2742119.0
Houston city, Texas 2293288.0
Philadelphia city, Pennsylvania 1596865.0
Phoenix city, Arizona 1591119.0
San Antonio city, Texas 1434540.0
San Diego city, California 1385398.0
Dallas city, Texas 1300239.0
San Jose city, California 1013337.0
Austin city, Texas 944658.0
Jacksonville city, Florida 937690.0
Fort Worth city, Texas 908469.0
Columbus city, Ohio 898143.0
Indianapolis city (balance), Indiana 880104.0
San Francisco city, California 865933.0
Charlotte city, North Carolina 864871.0
Seattle city, Washington 726054.0
Denver city, Colorado 706799.0
Washington city, District of Columbia 683154.0

In [ ]:
# zip code