In [1]:
import pandas as pd

In [2]:
r_1k = pd.read_csv('reviews_1k.csv')
r_2k = pd.read_csv('reviews_2k.csv')

In [3]:
r_1k.head(2)

,id,id_review,caption,relative_date,retrieval_date,rating,username,n_review_user,url_user,r_additional
0,50138517,ChZDSUhNMG9nS0VJQ0FnSUNGcGF5bFV3EAE,NaN,5 days ago,2023-11-04 04:31:32.813385,5.0,Christopher Croft,40,https://www.google.com/maps/contrib/1158098693...,"['Service: 5', 'Atmosphere: 5']"
1,50138517,ChdDSUhNMG9nS0VJQ0FnSUQ1MGVhUHRnRRAB,"Broth salty, cloudy. Summer rolls old. Short o...",a week ago,2023-11-04 04:31:32.814883,2.0,D HH,1,https://www.google.com/maps/contrib/1047236894...,"['Service Dine in', 'Meal type Lunch', 'Price ..."

In [17]:
r_ = pd.read_csv('reviews_.csv')

In [18]:
r_.head()

,id,id_review,caption,relative_date,retrieval_date,rating,username,n_review_user,url_user,r_additional
0,41375676,ChZDSUhNMG9nS0VJQ0FnSUNGMDhHSkVnEAE,NaN,11 hours ago,2023-11-02 02:44:04.226505,5.0,Eddie Trujillo,1,https://www.google.com/maps/contrib/1064176602...,"['Service: 5', 'Atmosphere: 5']"
1,41375676,ChdDSUhNMG9nS0VJQ0FnSUNGM2NhcGpnRRAB,NaN,a day ago,2023-11-02 02:44:04.227451,5.0,Mahamadou Asouman,0,https://www.google.com/maps/contrib/1078602531...,"['Service: 5', 'Atmosphere: 5']"
2,41375676,ChdDSUhNMG9nS0VJQ0FnSUNGbmVidnRRRRAB,NaN,a day ago,2023-11-02 02:44:04.227954,5.0,sedjnie ritoe,0,https://www.google.com/maps/contrib/1170344005...,[]
3,41375676,ChZDSUhNMG9nS0VJQ0FnSUNGNmY2Q0F3EAE,Fabulous food,4 days ago,2023-11-02 02:44:04.228882,5.0,Vibhuti Gedela,20,https://www.google.com/maps/contrib/1161880486...,"['Service Dine in', 'Meal type Dinner', 'Price..."
4,41375676,ChZDSUhNMG9nS0VJQ0FnSUNGNmZEdEVnEAE,"Overrated. Terrible service, the fault of the...",4 days ago,2023-11-02 02:44:04.229576,3.0,Giulia Passaniti,107,https://www.google.com/maps/contrib/1061104226...,[]

In [19]:
scraped_reviews = pd.concat([r_1k, r_2k, r_], ignore_index=True)

In [20]:
len(scraped_reviews)

325203

In [21]:
scraped_reviews.head()

,id,id_review,caption,relative_date,retrieval_date,rating,username,n_review_user,url_user,r_additional
0,50138517,ChZDSUhNMG9nS0VJQ0FnSUNGcGF5bFV3EAE,NaN,5 days ago,2023-11-04 04:31:32.813385,5.0,Christopher Croft,40,https://www.google.com/maps/contrib/1158098693...,"['Service: 5', 'Atmosphere: 5']"
1,50138517,ChdDSUhNMG9nS0VJQ0FnSUQ1MGVhUHRnRRAB,"Broth salty, cloudy. Summer rolls old. Short o...",a week ago,2023-11-04 04:31:32.814883,2.0,D HH,1,https://www.google.com/maps/contrib/1047236894...,"['Service Dine in', 'Meal type Lunch', 'Price ..."
2,50138517,ChdDSUhNMG9nS0VJQ0FnSUQ1X0xQamdBRRAB,"Had the brisket and flank pho, the broth and n...",2 weeks ago,2023-11-04 04:31:32.815647,5.0,Eling Lee,29,https://www.google.com/maps/contrib/1180366842...,"['Service Dine in', 'Meal type Lunch', 'Price ..."
3,50138517,ChdDSUhNMG9nS0VJQ0FnSUM1ak1pTTd3RRAB,NaN,3 weeks ago,2023-11-04 04:31:32.816426,5.0,Robert Longtin,90,https://www.google.com/maps/contrib/1152111335...,"['Meal type Lunch', 'Price per person $10–20',..."
4,50138517,ChZDSUhNMG9nS0VJQ0FnSUM1cEl1RllREAE,I was waiting in front of the counter for at l...,3 weeks ago,2023-11-04 04:31:32.817012,1.0,Jim L,0,https://www.google.com/maps/contrib/1024033632...,"['Service Take out', 'Meal type Lunch', 'Servi..."

In [13]:
scraped_reviews = scraped_reviews.drop_duplicates()

In [14]:
len(scraped_reviews)

20037

In [15]:
scraped_reviews.reset_index(drop=True, inplace=True)

In [16]:
scraped_reviews.to_csv('reviews_.csv', index=False)

In [48]:
scraped_reviews_read = pd.read_csv('scraped_reviews.csv')

In [49]:
scraped_reviews_read.head(2)

,id,id_review,caption,relative_date,retrieval_date,rating,username,n_review_user,url_user,r_additional
0,50138517,ChZDSUhNMG9nS0VJQ0FnSUNGcGF5bFV3EAE,NaN,5 days ago,2023-11-04 04:31:32.813385,5.0,Christopher Croft,40,https://www.google.com/maps/contrib/1158098693...,"['Service: 5', 'Atmosphere: 5']"
1,50138517,ChdDSUhNMG9nS0VJQ0FnSUQ1MGVhUHRnRRAB,"Broth salty, cloudy. Summer rolls old. Short o...",a week ago,2023-11-04 04:31:32.814883,2.0,D HH,1,https://www.google.com/maps/contrib/1047236894...,"['Service Dine in', 'Meal type Lunch', 'Price ..."